Repository codefresh-io/docs.codefresh.io, changes with the owners that CODEOWNERS names for each.
All owners: nima.regev@codefresh.io, tamir.solomon@octopus.com, idan.arbel@octopus.com, gil.chaouat@octopus.com, luke.goodfellow@octopus.com, oleg.turbovsky@octopus.com

returned @import and silenced deprecations
  assets/css/docs.min.css
  assets/css/docs.min.css.map
  assets/scss/_ads.scss
  assets/scss/_algolia.scss
  assets/scss/_anchor.scss
  assets/scss/_brand.scss
  assets/scss/_bulb.scss
  assets/scss/_buttons.scss
  assets/scss/_callouts.scss
  assets/scss/_clipboard-js.scss
  assets/scss/_code.scss
  assets/scss/_colors.scss
  assets/scss/_component-examples.scss
  assets/scss/_content.scss
  assets/scss/_divider.scss
  assets/scss/_footer.scss
  assets/scss/_helpbub.scss
  assets/scss/_links.scss
  assets/scss/_masthead.scss
  assets/scss/_nav.scss
  assets/scss/_reboot.scss
  assets/scss/_root.scss
  assets/scss/_select.scss
  assets/scss/_sidebar.scss
  assets/scss/_skiplink.scss
  assets/scss/_type.scss
  assets/scss/custom-overrides.scss
  assets/scss/docs.scss
  package.json
Owners: oleg.turbovsky@octopus.com

upd mitigations
  _docs/assets/Codefresh-CVE-Mitigations.pdf
Owners: oleg.turbovsky@octopus.com

upd mitigations
  _docs/assets/Codefresh-CVE-Mitigations.pdf
Owners: oleg.turbovsky@octopus.com

upd mitigations
  _docs/assets/Codefresh-CVE-Mitigations.pdf
Owners: oleg.turbovsky@octopus.com

upd mitigations
  _docs/assets/Codefresh-CVE-Mitigations.pdf
Owners: oleg.turbovsky@octopus.com

Fixed a gitops cloud header
  _posts/2025-06-29-june-release-notes.md
Owners: oleg.turbovsky@octopus.com

june-25-saas-release-notes (#1345)
  _posts-gitops/2025-06-29-june-release-notes.md
  _posts/2025-06-29-june-release-notes.md
Owners: oleg.turbovsky@octopus.com

upd mitigations (#1349)
  _docs/assets/Codefresh-CVE-Mitigations.pdf
Owners: oleg.turbovsky@octopus.com

changed code block color in copilot chat
  assets/css/docs.min.css
  assets/css/docs.min.css.map
  assets/scss/_helpbub.scss
  assets/scss/_variables.scss
Owners: oleg.turbovsky@octopus.com

remove import css comments
  assets/scss/docs.scss
Owners: oleg.turbovsky@octopus.com

removed accidental changes
  assets/css/docs.min.css
  assets/css/docs.min.css.map
  assets/scss/docs.scss
Owners: oleg.turbovsky@octopus.com

removed accidental changes
  assets/css/docs.min.css
  assets/css/docs.min.css.map
  assets/scss/docs.scss
Owners: oleg.turbovsky@octopus.com

minified css
  assets/css/docs.min.css
  assets/css/docs.min.css.map
Owners: oleg.turbovsky@octopus.com

Fix stylelint deprecations and warnings (#1347)
  .eslintrc.json
  .stylelintrc
  _includes/argohub-docs-navbar.html
  _includes/docs-navbar.html
  _includes/modal.html
  assets/css/docs.min.css
  assets/css/docs.min.css.map
  assets/js/argohub-redirect/argohub-redirect.min.js
  assets/scss/_ads.scss
  assets/scss/_algolia.scss
  assets/scss/_brand.scss
  assets/scss/_browser-bugs.scss
  assets/scss/_buttons.scss
  assets/scss/_callouts.scss
  assets/scss/_clipboard-js.scss
  assets/scss/_colors.scss
  assets/scss/_component-examples.scss
  assets/scss/_content.scss
  assets/scss/_examples.scss
  assets/scss/_footer.scss
  assets/scss/_helpbub.scss
  assets/scss/_links.scss
  assets/scss/_masthead.scss
  assets/scss/_modal.scss
  assets/scss/_nav.scss
  assets/scss/_reboot.scss
  assets/scss/_root.scss
  assets/scss/_select.scss
  assets/scss/_sidebar.scss
  assets/scss/_switch.scss
  assets/scss/_type.scss
  assets/scss/_variables.scss
  assets/scss/custom-overrides.scss
  assets/scss/docs.scss
  gitops/index.html
  index.html
  package.json
Owners: oleg.turbovsky@octopus.com

changed code block color in copilot chat (#1350)
  assets/css/docs.min.css
  assets/css/docs.min.css.map
  assets/scss/_helpbub.scss
  assets/scss/_variables.scss
Owners: oleg.turbovsky@octopus.com

update url for support package
  _docs/kb/support-ticket-examples.md
Owners: luke.goodfellow@octopus.com

removed as repo doesnt exists
  _docs/kb/articles/speed-builds-intermediate-images.md
Owners: luke.goodfellow@octopus.com

update support repo location
  _docs/kb/articles/stuck-in-validating-docker-daemon.md
Owners: luke.goodfellow@octopus.com

change repo location
  _docs/kb/articles/stuck-in-validating-docker-daemon.md
Owners: luke.goodfellow@octopus.com

update org for repo
  _docs/installation/runner/install-codefresh-runner.md
Owners: oleg.turbovsky@octopus.com

Created how to guide - upgrade deprecated docker images
  _docs/kb/articles/upgrade-deprecated-docker-images.md
Owners: luke.goodfellow@octopus.com

new
  _docs/kb/articles/upgrade-deprecated-docker-images.md
Owners: luke.goodfellow@octopus.com

Trying again
  _docs/kb/articles/upgrade-deprecated-docker-images.md
Owners: luke.goodfellow@octopus.com

added grafana dashboard as link
  _docs/kb/articles/upgrade-deprecated-docker-images.md
  _docs/kb/grafana-dashboard.json
Owners: luke.goodfellow@octopus.com

added images
  _docs/kb/articles/upgrade-deprecated-docker-images.md
  images/troubleshooting/before-verify.jpeg
  images/troubleshooting/deprecated-images-overview.jpeg
  images/troubleshooting/deprecated-images.png
  images/troubleshooting/import-dashboard.jpeg
  images/troubleshooting/select-api-source.jpeg
Owners: luke.goodfellow@octopus.com, oleg.turbovsky@octopus.com

added the screenshots
  _docs/kb/articles/upgrade-deprecated-docker-images.md
  images/troubleshooting/before-verify.jpeg
  images/troubleshooting/before-verify.png
  images/troubleshooting/deprecated-images-overview.jpeg
  images/troubleshooting/deprecated-images-overview.png
  images/troubleshooting/import-dashboard.jpeg
  images/troubleshooting/import-dashboard.png
  images/troubleshooting/select-api-source.jpeg
  images/troubleshooting/select-api-source.png
Owners: luke.goodfellow@octopus.com, oleg.turbovsky@octopus.com

Update Support Repos (#1351)
  _docs/installation/runner/install-codefresh-runner.md
  _docs/kb/articles/speed-builds-intermediate-images.md
  _docs/kb/articles/stuck-in-validating-docker-daemon.md
  _docs/kb/support-ticket-examples.md
Owners: oleg.turbovsky@octopus.com, luke.goodfellow@octopus.com

fixed numbering
  _docs/kb/articles/upgrade-deprecated-docker-images.md
Owners: luke.goodfellow@octopus.com

added break lines
  _docs/kb/articles/upgrade-deprecated-docker-images.md
Owners: luke.goodfellow@octopus.com

added links
  _docs/kb/articles/upgrade-deprecated-docker-images.md
Owners: luke.goodfellow@octopus.com

Created how to guide - upgrade deprecated docker images (#1352)
  _docs/kb/articles/upgrade-deprecated-docker-images.md
  _docs/kb/grafana-dashboard.json
  images/troubleshooting/before-verify.png
  images/troubleshooting/deprecated-images-overview.png
  images/troubleshooting/deprecated-images.png
  images/troubleshooting/import-dashboard.png
  images/troubleshooting/select-api-source.png
Owners: luke.goodfellow@octopus.com, oleg.turbovsky@octopus.com

temp commit of release notes
  _posts-gitops/2025-07-25-july-release-notes.md
  _posts/2025-07-25-july-release-notes.md
Owners: oleg.turbovsky@octopus.com

added manual create argo cd app for runtime
  _docs/installation/gitops/manage-runtimes.md
  _docs/installation/gitops/runtime-configuration.md
Owners: oleg.turbovsky@octopus.com

updated the release notes
  _posts/2025-07-25-july-release-notes.md
Owners: oleg.turbovsky@octopus.com

fixed links and added one more ref
  _docs/gitops-quick-start/quick-start-configure-runtime.md
  _docs/installation/gitops/runtime-configuration.md
Owners: oleg.turbovsky@octopus.com

minor edits
  _docs/gitops-quick-start/quick-start-configure-runtime.md
  _docs/installation/gitops/runtime-configuration.md
Owners: oleg.turbovsky@octopus.com

Made some small requqested changes
  _data/nav.yml
  _docs/getting-started/gitops-codefresh.md
  _docs/promotions/yaml/promotion-template-crd.md
Owners: oleg.turbovsky@octopus.com

OIDC TTL Setting
  _docs/pipelines/configuration/pipeline-settings.md
Owners: oleg.turbovsky@octopus.com

OIDC TTL Setting (#1356)
  _docs/pipelines/configuration/pipeline-settings.md
Owners: oleg.turbovsky@octopus.com

OIDC TTL Setting
  _docs/pipelines/configuration/pipeline-settings.md
Owners: oleg.turbovsky@octopus.com

CODEOWNERS:

* nima.regev@codefresh.io
* tamir.solomon@octopus.com
* idan.arbel@octopus.com
* gil.chaouat@octopus.com
* luke.goodfellow@octopus.com
* oleg.turbovsky@octopus.com

# Support KB Owner
_docs/kb/ luke.goodfellow@octopus.com
